* {
  background-color: black;
}

h1 {
  color: white;
  margin-left: 365px;
}

h2 {
  color: white;
  margin-left: 360px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(204, 1fr);
  width: 1500px;
  height: 1200px;
  /* border: cyan 3px solid; */
}

.cell {
  background-color: black;
  /* border: red solid 1px; */
}

.playerOne {
  background-color: white;
}

.playerTwo {
  background-color: white;
}

.ball {
  background-color: white;
}

.net {
  background-color: white;
}

button {
  background-color: white;
  padding: 10px;
  font-size: 25px;
  font-weight: bolder;
}

.hidden {
  display: none;
}

.game-over-results {
  display: flex;
  gap: 20px;
  margin: 20px;
}

.winner {
  font-size: 30px;
}
