* {
    background-color: black;
}

h1 {
    color: white;
    margin-left: 365px;
}

h2 {
    color: white;
    margin-left: 360px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(204, 1fr);
    width: 800px;
    height: 500px;
    /* border: cyan 3px solid; */
}

.cell {
    background-color: black;
    /* border: red solid 1px; */
}

.playerOne {
    background-color: white;
}

.playerTwo {
    background-color: white;
}

.ball {
    background-color: white;
}

.net {
    background-color: white;
}